impl/src/main/resources/META-INF/xsd/xo-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xo="http://buschmais.com/xo/schema/v1.0"
           targetNamespace="http://buschmais.com/xo/schema/v1.0"
           elementFormDefault="unqualified">

    <xs:element name="xo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="xo-unit" type="xo:XOUnitType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="version" type="xo:VersionType" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="VersionType">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]+(\.[0-9]+)*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="XOUnitType">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="url" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="provider" type="xo:NonEmptyStringType" minOccurs="1"/>
            <xs:element name="types" type="xo:TypesType" minOccurs="1"/>
            <xs:element name="instance-listeners" type="xo:InstanceListenersType" minOccurs="0"/>
            <xs:element name="validation-mode" type="xo:ValidationModeType" minOccurs="0"/>
            <xs:element name="concurrency-mode" type="xo:ConcurrencyModeType" minOccurs="0"/>
            <xs:element name="default-transaction-attribute" type="xo:TransactionAttributeType" minOccurs="0"/>
            <xs:element name="properties" type="xo:PropertiesType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="TypesType">
        <xs:sequence>
            <xs:element name="type" type="xo:NonEmptyStringType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InstanceListenersType">
        <xs:sequence>
            <xs:element name="instance-listener" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ConcurrencyModeType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="SINGLETHREADED"/>
            <xs:enumeration value="MULTITHREADED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ValidationModeType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="AUTO"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TransactionAttributeType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="MANDATORY"/>
            <xs:enumeration value="REQUIRES"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NonEmptyStringType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PropertiesType">
        <xs:sequence>
            <xs:element name="property" type="xo:PropertyType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PropertyType">
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="value" use="required"/>
    </xs:complexType>
</xs:schema>